:root {
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    font-family: "Roboto", sans-serif;
}

em {
    margin-right: .3125rem;
}

.leftouterpanel {
    display: flex;
    height: 100vh;
    width: 40vw;
    background-image: url("bgImg.jpg");
    background-size: cover;
}

.headerDiv {
    height: 15%;
    width: 40vw;
    margin-top: calc(35vh - 15vh);
    background-color: black;
    opacity: .5;
}

.rightouterpanel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    background-color: pink;
}


/*------------------INNER PANEL #1 CONTENT------------------*/
.inner-panel1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f9fafc;
    height: 35%;
}
.inner-panel1>h2 {
    font-size: 1.5rem;
    padding: 0px 10rem 2.5rem 2.5rem;
    margin-top: -2.5rem;
   
}
/*-----------------------------------------------------------*/




/*------------------INNER PANEL #2 CONTENT------------------*/
.inner-panel2 {
    background-color: #ffffff;
    height: 30%;
}

.inner-panel2>h2 {
    margin-left: 2.5rem;
}

fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 2.5rem;
    gap: 1rem;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-right: 31rem;
}

.inputItems {
    display: flex;
    flex-direction: column;
}

input {
    width: 18rem;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}
/*-----------------------------------------------------------*/



/*------------------INNER PANEL #3 CONTENT------------------*/
.inner-panel3 {
    background-color: #f9fafc;
    height: 35%;
    
}

.inner-panel3>button {
    height: 3.5rem;
    width: 16rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    border: none;
    background-color: #596D48;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

.inner-panel3>p {
    margin-left: 2.5rem;
}
/*-----------------------------------------------------------*/